/.classpath
/.project
.idea
.cache
.settings
.project
.classpath
.DS_Store
target
*/*.iml
*/target/**
*.iml
*/.classpath
*/.settings
*/.externalToolBuilders
*/*.springBeans
dependency-reduced-pom.xml
logs
